test/
tests/
coverage/
.nyc_output/
.circleci/
.vscode/
jsdoc/
docs/
temp/
jsdoc.json
CONTRIBUTING.md
.editorconfig
.eslintrc
.gitignore
commitlint.config.js
.env
.travis.yml
tsconfig.json
CHANGELOG.md
